body {
  font-family: sans-serif;
}

.link {
  color: aqua;
}

.form-container {
  max-width: 700px;
  margin: 30px auto;
}

.popup-container {
  max-width: 350px;
  margin: 250px auto;
  text-align: center;
}
.profile-img {
  margin: 0 auto;
  width: 60%;
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .form-container {
    max-width: 550px;
    margin: 30px auto;
  }
}

@media only screen and (max-width: 766px) {
  .form-container {
    max-width: 350px;
    margin: 30px auto;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
